body{
    background-image:linear-gradient(to right top, #00f815, rgb(127, 0, 200), #ff4800, #00f7ff, #2600ff, #00ffaa, #ff0088); float: none;border-radius: 15px;
font-size:xx-large;
font-family:fantasy;
font-weight: bolder;
font-style:oblique;
}